:root {
  --primary-color: #007070;
  --secondary-color: #ff2e63;
  --tertiary-color: #6a197d;
  --background-color: #eee;
  --primary-text-color: #010a43;
  --secondary-text-color: #fff;
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Fira Sans", sans-serif;
  --primary-font-weight: 400;
  --secondary-font-weight: 700;
  --primary-font-size: 16px;
  --primary-line-height: 1.6;
  --standard-margin: 1.5rem;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  color: var(--primary-text-color);
  margin: var(--standard-margin);
}

.headings__font-family {
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
}

h1 {
  font-size: 30px;
  margin-top: 0;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

a {
  color: var(--primary-color);
}

a:visited {
  color: var(--tertiary-color);
}

a:hover, a:focus {
  text-decoration: none;
}

a:active {
  color: var(--secondary-color);
}

.page-header {
  display: flex;
  width: 100%;
  padding: var(--standard-margin);
}

.page-header__item {
  flex: 0 1 200px;
  font-family: var(--secondary-font-family);
}

.logo-wrapper {
  width: 70%;
  max-width: 335px;
  min-width: 200px;
  padding: 1em 0;
}

.logo-wrapper img {
  width: 100%;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
}

main {
padding-left: var(--standard-margin);
}

.profile__item:first-child {
  float: left;
  width: 250px;
  border-radius: 50%;
  margin-right: 40px;
}

.page-footer {
  clear: both;
}

@supports (display: grid) {
  .profile {
    max-width: 700px;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem 2.5rem;
    padding-left: 0;
  }

  .profile__item:first-child {
    width: 250px;
    border-radius: 50%;
    margin: auto;
  }

  .profile__item h1 {
    margin-top: 0;
  }

  .profile__item p {
    margin-block-end: 2em;
  }
}

.page-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: var(--standard-margin);
}

.social-media__item {
  text-decoration: none;
  transition: opacity 0.3s;
}
.social-media__item:hover {
  cursor: pointer;
  opacity: 0.7;
}

.social-media__item-image {
  width: 30px;
  height: 30px;
}

.bio {
  text-align: center;
}

.bio__item:last-child {
  display: inline-block;
  font-family: var(--secondary-font-family);
  font-weight: var(--primary-font-weight);
  font-size: 18px;
  margin: 1rem auto;
}

.button, #contact-form__submit {
  border: none;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  text-decoration: none;
  padding: 15px 12px;
  border-radius: 5px;
  border-bottom: 2px solid rgba(0,0,0,0.3);
  transition: opacity 0.3s;
}

.button:visited, #contact-form__submit:visited {
  color: var(--secondary-text-color);
}

.button:hover, .button:focus, #contact-form__submit:hover, #contact-form__submit:focus {
  cursor: pointer;
  opacity: 0.7;
}

.button:active, #contact-form__submit:active  {
  color: var(--secondary-text-color);
}

.countryside-wrapper {
  width: 100%;
  max-width: 800px;
  margin: 1rem auto;
}

.countryside-wrapper svg {
  width: 100%;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(500px, 0);
  }
}

#path15372, #path15376 {
  animation: cloud-move 60s infinite alternate ease-in-out;
}

@keyframes cloud-rise {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-380px, 80px);
  }
}

#path14382, #path14386 {
  animation: cloud-rise 40s infinite alternate ease-in;
}

@keyframes cloud-circle-grow {
  0% {
    transform: translate(0, 0) scale(1, 1);
  }
  25% {
    transform: translate(-20px, 20px) scale(1.25, 1.25);
  }
  50% {
    transform: translate(-20px, 0) scale(1.5, 1.5);
  }
  75% {
    transform: translate(20px, -20px) scale(1.25, 1.25);
  }
  100% {
    transform: translate(0, 0) scale(1, 1);
  }
}

#path14452 {
  animation: cloud-circle-grow 20s infinite linear;
}

@keyframes shadow {
  from {
    fill: #bcbec0;
  }
  to {
    fill: #f2ede9;
  }
}

#path15718 {
  animation: shadow 10s infinite alternate ease-in-out;
}

.credit {
  font-size: 12px;
  margin: 0.5rem auto;
}

.projects__item {
  display: inline-block;
  width: 33%;
}

@supports (display: grid) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-right: var(--standard-margin);
    margin: 0;
  }

  .projects__item {
    background-color: lightgray;
    width: auto;
    min-height: auto;
    margin: 0;
    padding: var(--standard-margin);
  }

  .projects__item:last-child {
    grid-column: 3/3;
    grid-row: 1/3;
  }

  .projects__item-heading {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .projects__item-summary {
    margin-block-start: 0.5rem;
    margin-block-end: 2rem;
  }
}

.contact, #contact-form {
  max-width: 400px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.75rem 2.5rem;
  padding-left: 0;
}

.contact__item:first-child {
  grid-area: 1/1/1/3;
  margin: 0;
}

#contact-form {
  grid-gap: 0;
}

#contact-form h2 {
  margin-block-end: 0.75rem;
}

.standard-label {
  padding: 0.5rem 0 0.25rem 0;
}

.standard-label:first-of-type {
  padding-top: 0;
}

.required-input:after {
  content: " *";
  color: #dc143c;
}

#contact-message__detail {
  font-size: 10px;
  text-align: right;
  margin-block-start: 0;
  margin-block-end: 0.75rem;
}

.button-wrapper {
  text-align: center;
}

#contact-form__submit {
  padding: 15px 18px;
}

@media (max-width: 500px) {
  .projects {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 500px) and (max-width: 750px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 750px) {
  .projects {
    grid-gap: 10px;
  }
  .projects__item:last-child {
    grid-area: auto/auto/auto/auto;
  }
  .projects__item-heading {
    font-size: 23px;
  }
}
